name: Build Android APK
on:
  push:
    branches: [ main ] # تأكد أن هذا هو اسم فرعك (main أو master)
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          
      - run: npm install
      
      # هذا الأمر الجديد سيقوم بتثبيت محرك الأندرويد الناقص
      - run: npm install @capacitor/android

      - run: npm run build
      
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - run: |
          npx cap add android || true
          npx cap copy
          npx cap sync android
          cd android && ./gradlew assembleDebug
          
      - uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: android/app/build/outputs/apk/debug/app-debug.apk
